@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Delius&family=Klee+One&family=Neucha&family=Quicksand:wght@500&family=Shadows+Into+Light&family=The+Girl+Next+Door&family=Zen+Tokyo+Zoo&display=swap");

body {
	font-family: "Avenir";
	color: whitesmoke;
	//	border: 0.8em dotted gold;
	background: #264653e5;
	max-height: 100vh;
	background: inline-image("../svgs/film.svg");
}

.title-content > * {
	margin: 0;
	padding: 0;
}

.title-content > h3 {
	font-size: 1.5em;
	font-family: "Neucha";
	color: #e9c46a;
}

.title-content > h5 {
	font-size: 1.5em;
	font-family: "Neucha";
	color: #e9c46a;
}

.flex-column {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
}

.flex-row {
	display: flex;
	height: 36vh;
	margin-top: 15px;
	margin-bottom: 15px;
}

.bechdel-rules {
	display: flex;
}
.movie-screen {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	align-items: flex-start;
	border: 8px solid black;
	background: whitesmoke;
	color: #e76f51;
	font-size: 1em;
	font-family: "Klee One", cursive;
	margin-right: 20px;
	max-width: 620px;
	max-height: 100%;
	overflow: scroll;
}

.movie-screen > div > ol > li {
	margin-bottom: 10px;
}

.movie-screen > div > h2 {
	margin: 0;
	text-align: center;
}

.movie-screen > div {
	width: 90%;
}

.intro-text {
	margin: 0;
	text-align: justify;
	margin-right: 20px;
	border: 6px dotted gold;
	padding: 0.6em;
	font-size: 0.85em;
	height: fit-content;
	max-height: 100%;
	max-width: 80%;
	overflow: scroll;
}

.link-style {
	color: gold;
	text-decoration: none;
}

//thanks https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only
.hover_img a {
	position: static;
}
.hover_img a span {
	position: absolute;
	display: none;
	z-index: 1;
}
.hover_img a:hover span {
	display: block;
}

.film-border {
	border-top: 2px solid gold;
	border-image: url(https://ibb.co/RzmN9F6][img]https://i.ibb.co/RzmN9F6/film-border.png)
		20% round;
}
