@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Delius&family=Klee+One&family=Neucha&family=Quicksand:wght@500&family=Shadows+Into+Light&family=The+Girl+Next+Door&family=Zen+Tokyo+Zoo&display=swap");

body {
	font-family: "Avenir";
	color: whitesmoke;
	//	border: 0.8em dotted gold;
	background: #092e3d;
	max-height: 100vh;
	background: inline-image("../svgs/film.svg");
}

.title-content > * {
	margin: 0;
	padding: 0;
}

.title-content > h3 {
	font-size: 1.2em;
	font-family: "Comic Neue";
	color: #e9c46a;
}

.title-content > h5 {
	font-size: 1.2em;
	font-family: "Comic Neue";
	color: #e9c46a;
}

.flex-column {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
}

.flex-row {
	display: flex;
	height: 36vh;
	margin-top: 15px;
	margin-bottom: 15px;
}

.bechdel-rules {
	display: flex;
	margin-bottom: 5px;
}
.movie-screen {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	align-items: flex-start;
	border: 8px solid black;
	background: whitesmoke;
	color: #e76f51;
	font-size: 1em;
	font-family: "Klee One", cursive;
	margin-right: 20px;
	max-width: 620px;
	max-height: 100%;
	overflow: scroll;
}

.movie-screen > div > ol > li {
	margin-bottom: 10px;
}

.movie-screen > div > h2 {
	margin: 0;
	text-align: center;
}

.movie-screen > div {
	width: 90%;
}

.intro-text {
	margin: 0;
	text-align: justify;
	margin-right: 20px;
	border: 6px dotted gold;
	padding: 0.6em;
	font-size: 0.9em;
	height: fit-content;
	max-height: 100%;
	max-width: 80%;
	overflow: scroll;
	//font-family: Klee One;
}

.link-style {
	color: gold;
	text-decoration: none;
}

//thanks https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only
.hover_img a {
	position: static;
}
.hover_img a span {
	position: absolute;
	display: none;
	z-index: 1;
}
.hover_img a:hover span {
	display: block;
}

.film-border {
	border-top: 2px solid #264653;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #e9c46a;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

select {
	border: 1px solid #e76f51;
	border-radius: 3px;
	padding-right: 1rem;
	padding-left: 0.5em;
	font-family: "Avenir Next";
	font-weight: 250;
	font-size: 16px;
	background: transparent;
	color: #e76f51;
	text-align: center;
	display: block;
	margin: 0 auto;
	z-index: 3;
}
